.search-form-wrapper {
    background: rgba(0, 0, 0, 0.47);
    width: 100%;
    height: 145px;
    position: relative;
    margin: 0 auto;
    padding: 0 87px;
}

.search-form-wrapper form {
    position: relative;
    top: 37px;
}

.search-form-wrapper .arrows {
    background: url(../img/waterbus/reverse_icon.png) no-repeat center;
    width: 26px;
    height: 22px;
    display: block;
    margin: 14px 3px 0;
}

.form-input {
    padding: 13px 0 14px 48px;
    border-radius: 0;
}

.form-input[readonly] {
    background-color: #ffffff;
    cursor: text;
}

.form-input[disabled] {
    background-color: #7b7a81 !important;
    cursor: default;
    border-color: #7b7a81;
}

#finder-from, #finder-to {
    padding-left: 0;
    padding-right: 0;
}

.no-padding {
    padding-right: 0;
}

#seats {
    width: 90px;
}

.form-select {
    cursor: pointer;
    padding: 0 0 0 50px;
    border: none;
    border-radius: 0;
    height: 53px !important;
    background: #fff url(../img/waterbus/passagers_icon.png) no-repeat 10px 19px;
}

#startPoint {
    background: #fff url(../img/waterbus/icon_A_destination.png) no-repeat 14px 14px;
}

#endPoint {
    background: #fff url(../img/waterbus/icon_B_destination.png) no-repeat 14px 14px;
}

#departureDate, #departureBackDate {
    background: #fff url(../img/waterbus/calendar_icon_to.png) no-repeat 14px 17px;
}

.search_btn {
    width: 65px;
    height: 145px;
    background: #fe7e00 url(../img/waterbus/search_icon.png) center no-repeat;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    top: -37px;
    right: -89px;
    cursor: pointer;
}

.logo {
    width: 107px;
    height: 50px;
}

.select-seat {
    padding-left: 0;
    margin-left: 15px;
}

.search_btn .search_btn-text {
    display: none;
}

.check-list {
    display: flex;
    padding-top: 15px;
}

@media screen and (max-width: 768px) {
    #seats {
        width: 100%;
    }
    .my-auto {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0 !important;
        max-width: 100% !important;
    }
    .search-form-wrapper {
        width: 100%;
        padding: 0 5%;
        height: 450px;
    }

    .form-input {
        margin: 5px 0 5px 0;
    }

    .no-padding {
        margin: 5px 0 5px 0;
    }

    .padding-responsive {
        padding-left: 0;
    }

    .arrows-block {
        display: none;
    }

    .search_btn {
        width: 200px;
        height: 50px;
        background: #fe7e00 url(../img/waterbus/search_icon.png) 155px no-repeat;
        border: none;
        border-radius: 4px;
        position: relative;
        right: inherit;
        top: 40px;
        display: block !important;
        color: #fff;
        font-size: 19px;
        margin: 0 auto;
        padding-right: 13px;
    }

    .search_btn .search_btn-text {
        font-size: 26px;
        position: relative;
        display: block;
    }
}

@media screen and (max-width: 425px) {
    #finder-from, #finder-to, .check-list {
        padding-left: 15px;
        padding-right: 15px;
    }

    .padding-responsive, .select-seat {
        padding-left: 15px;
    }

    .no-padding {
        padding-right: 15px;
    }
}

/*Địa điểm du lịch nổi bật*/
.block {
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    position: relative;
}

.block span {
    position: absolute;
    width: 92%;
    text-align: center;
    font-size: 28px;
    color: #fff;
    font-family: Arial;
    bottom: 18px;
}

.block figure {
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

.block span {
    z-index: 1;
}

.block figure img {
    min-width: 350px;
    height: 197px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.block figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}